*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    background-color:lightcoral;
    height: 80px;
    width: 70%;
    border-radius: 5px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.icon div{
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}
.icon div:hover{
    color: #000;
}
.search-form{
    position: absolute;
    top: 14%;
    background: lightcoral;
    width: 40rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: .5s;
    border-radius: 5px;
}
.search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #000;
    padding: 1rem;
    text-transform: none;
    border: none;
    background-color:lightcoral;
    outline: none;
    border-radius: 5px;
}
.search-form.active{
    transform: scaleY(1);
}
.search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1rem;
    color: #808080;
}
.search-form label:hover{
    color:lightblue;
}
  
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px ;
}
.fa-shopping-cart{
    color: lightcoral;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color:lightcoral;
    color: white;
}
.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
    margin-top: 50px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;  
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color:lightcyan;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: lightcoral;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightcoral;
    border-radius: 5px;
    padding: 5px;
}
.img-box{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
h2{
    font-size: 20px;
    color: blue;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: lightcoral;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color:white;
    border-bottom: 1px solid white;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;;
}
@media(min-width:992px)and(max-width:1199px){
    .search-form{
        top: 16px;
        width: 25rem;
    }
}
@media(min-width:768px)and(max-width:991px){
    .search-form{
        top: 15%;
    }
    .search-form input{
        font-size: 24px;
        padding: .5rem;       
    }
    .search-form label{
        font-size: 18px;
    }
    .container{
        margin-top: 60px;
    }
}
@media(min-width:481px)and(max-width:767px){
.search-form{
    top: 14%;
    width: 17rem;
    height: 2.5rem;
}
.header{
    width: 100%;
    height: 60px;
}
.container{
    width: 100%;
    margin-top: 50px;
}
#root{
    width: 40%;
    grid-gap: 5px;  
}
.sidebar{
    width: 60%;
    margin-left:5px;
    padding: 5px;
}
}    
@media(max-width:480){
    .search-form{
        top: 14%;
        width: 15rem;
    }
    .search-form input{
        font-size: 20px;
        padding: .5rem;       
    }
    .img-box{
        height: 100px;
    }
    .images{
        max-width: 60%;
        max-height: 60%;
    }
    .bottom{
        margin-top: 2px;
        height: 50px;
    }
    h2{
        font-size: 12px;
    }
    button{
        padding: 4px 20px;       
    }
}